@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can easily mark your attendances on daily basis. If there is any query, you can contact the Admin</p>
</div>
